/* should be imported from `main.ts`, for the dev server. */

/* @import url('https://fonts.readonly.link/fira-code/index.css'); */
/* @import url('https://fonts.readonly.link/bodoni-moda/index.css'); */
/* @import url('https://fonts.readonly.link/linux-libertine-o/index.css'); */
/* @import url('https://fonts.readonly.link/linux-biolinum-o/index.css'); */
/* @import url('https://fonts.readonly.link/lxgw-wenkai/index.css'); */
/* @import url('https://fonts.readonly.link/lxgw-wenkai/index-larger.css'); */
/* @import url('https://fonts.readonly.link/source-han-serif/index.css'); */
