/*

References:

- https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar
- https://css-tricks.com/custom-scrollbars-in-webkit/

*/

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: #eee;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #000;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar:horizontal {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar:vertical {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: #555;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
